<app-header [country]=true [isloggedin]=true></app-header>
<app-search [country]=false [timeguest]=false></app-search>

<div class="container d-flex justify-content-center">
    <div class="py-5">
        <h2 class="text-center mb-5">Oops, Order Placed Failure</h2>
        <img style="width: 400px; max-width: 100%;" src="assets/images/failure.svg" alt="">
        <p class="text-center mt-5">Return to payment page <a class="red-a" href="/details/payment">click here</a></p>
    </div>
</div>

<app-footer></app-footer>