<app-header [country]=true [isloggedin]=true></app-header>
<app-search [country]=false [timeguest]=false></app-search>

<div class="container d-flex justify-content-center">
    <div class="py-5">
        <h2 class="text-center mb-5">Order Placed Successfully</h2>
        <img style="width: 400px; max-width: 100%;" src="assets/images/success.svg" alt="">
        <p class="text-center mt-5">Return to filter page <a class="red-a" href="/filter">click here</a></p>
    </div>
</div>

<app-footer></app-footer>