<section>
    <div class="head mb-1">
        <h4>{{selectedMainCategory.m_category_name}}</h4>
    </div>

    <div class="filter-box mb-1">
        <a>Sort By Price (₹)</a>
        <div class="slider">
            <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
        </div>
    </div>

    <div class="filter-box mb-1" *ngIf="sub_categories && sub_categories.length > 0">
        <a>Sort By Sub Category</a>
        <div class="contents">
            <div class="res-main" *ngFor="let f of sub_categories; let i = index">
                <label class="customcheck">
                    {{f.category_name}} <span class="count"></span>
                    <input type="checkbox" (change)="selectCategory($event, i)" [value]="f.category_id" [(checked)]="f.checked">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="filter-box mb-1" *ngIf="facilities && facilities.length > 0">
        <a>Sort By Facilities</a>
        <div class="contents">
            <div class="res-main" *ngFor="let f of facilities; let i = index">
                <label class="customcheck">
                    <span class="filterfont mr-sm-1">{{f.icon}}</span> 
                    {{f.facility_name}} <span class="count"></span>
                    <input type="checkbox" (change)="selectFacility($event, i)" [value]="f.facility_id" [(checked)]="f.checked">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="filter-box mb-1" *ngIf="foods && foods.length > 0">
        <a>Sort By Food</a>
        <div class="contents">
            <div class="res-main" *ngFor="let f of foods; let i = index">
                <label class="customcheck">
                    <span class="filterfont mr-sm-1">{{f.icon}}</span>
                    {{f.food_name}} <span class="count"></span>
                    <input type="checkbox" (change)="selectFood($event, i)" [value]="f.food_id" [(checked)]="f.checked">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="filter-box mb-1" *ngIf="transportations && transportations.length > 0">
        <a>Sort By Transportation</a>
        <div class="contents">
            <div class="res-main" *ngFor="let t of transportations; let i = index">
                <label class="customcheck">
                    <span class="filterfont mr-sm-1">{{f.icon}}</span>
                    {{t.transportation_name}} <span class="count"></span>
                    <input type="checkbox" (change)="selectTransportation($event, i)" [value]="t.transportation_id" [(checked)]="t.checked">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>


</section>