<section>
    <div class="head mb-1">
        <span class="filterfont pr-3">y</span>
        <h4>Hotel, Resort & Homestay</h4>
    </div>

    <div class="filter-box mb-1">
        <a>Sort By Subcategories</a>
        <div class="contents">
            <div class="res-main">
                <label class="customcheck">Hotel Apartments <span class="count">(450)</span>
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck">Hotel Apartments <span class="count">(450)</span>
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck">Hotel Apartments <span class="count">(450)</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck">Hotel Apartments <span class="count">(450)</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck">Hotel Apartments <span class="count">(450)</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck">Hotel Apartments <span class="count">(450)</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck">Hotel Apartments <span class="count">(450)</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck">Hotel Apartments <span class="count">(450)</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
            </div>
        </div>
    </div>

    <div class="filter-box mb-1">
        <a>Sort By Price (₹)</a>
        <div class="slider">
            <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
        </div>
    </div>

    <div class="filter-box mb-1">
        <a>Sort By Facilities</a>
        <div class="contents">
            <div class="res-main">
                <label class="customcheck my-4px"><span class="filterfont pr-2">A</span> Hotel Apartments 
                        <input type="checkbox">
                        <span class="checkmark" style="top: 5px;"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck my-4px"><span class="filterfont pr-2">A</span> Hotel Apartments 
                        <input type="checkbox">
                        <span class="checkmark" style="top: 5px;"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck my-4px"><span class="filterfont pr-2">A</span> Hotel Apartments 
                        <input type="checkbox">
                        <span class="checkmark" style="top: 5px;"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck my-4px"><span class="filterfont pr-2">A</span> Hotel Apartments 
                        <input type="checkbox">
                        <span class="checkmark" style="top: 5px;"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck my-4px"><span class="filterfont pr-2">A</span> Hotel Apartments 
                        <input type="checkbox">
                        <span class="checkmark" style="top: 5px;"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck my-4px"><span class="filterfont pr-2">A</span> Hotel Apartments 
                        <input type="checkbox">
                        <span class="checkmark" style="top: 5px;"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck my-4px"><span class="filterfont pr-2">A</span> Hotel Apartments 
                        <input type="checkbox">
                        <span class="checkmark" style="top: 5px;"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck my-4px"><span class="filterfont pr-2">A</span> Hotel Apartments 
                        <input type="checkbox">
                        <span class="checkmark" style="top: 5px;"></span>
                    </label>
            </div>
        </div>
    </div>

</section>