.logo {
    img {
        width: 100px;
    }
}

.sect {
    font-size: 26px;
    font-family: 'Open Sans B';
    color: #3d3d3d;
    text-align: center;
}

.login-btn {
    width: 100%;
    height: 50px;
    font-size: 'Open Sans SB';
}

.links {
    div {
        font-size: 14px;
        color: #3d3d3d;
        a {
            color: #C62828;
            font-family: 'Open Sans SB';
            cursor: pointer;
        }
        a:hover {
            color: #3d3d3d;
        }
    }
}