<section style="overflow-x:hidden; overflow-y:auto; max-height: 90vh;">
    <div class="logo">
        <img src="assets/images/logo-red.png" alt="">
    </div>

    <div class="sect mt-2 mb-3">Signup</div>

    <form [formGroup]="regForm" (ngSubmit)="register()">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="user_name">
                    <mat-error *ngIf="!regForm.controls['user_name'].valid && regForm.controls['user_name'].touched">Enter a valid name</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="Mobile Number" formControlName="user_phone">
                    <mat-error *ngIf="!regForm.controls['user_phone'].valid && regForm.controls['user_phone'].touched">Enter a valid Phone number</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email Id</mat-label>
                    <input matInput placeholder="Email" formControlName="user_email">
                    <mat-error *ngIf="!regForm.controls['user_email'].valid && regForm.controls['user_email'].touched">Enter a valid email</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Place</mat-label>
                    <input matInput placeholder="Place" formControlName="user_area">
                    <mat-error *ngIf="!regForm.controls['user_area'].valid && regForm.controls['user_area'].touched">Enter your place</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="user_state" (selectionChange)="getCities($event.value.state_id)">
                        <mat-option *ngFor="let s of states" [value]="s">{{s.state_name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!regForm.controls['user_state'].valid && regForm.controls['user_state'].touched">Select State</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="user_city">
                        <mat-option *ngFor="let c of cities" [value]="c">{{c.city_name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!regForm.controls['user_city'].valid && regForm.controls['user_city'].touched">Select City</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password" type="password">
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>ReEnter Password</mat-label>
                    <input matInput placeholder="ReEnter Password" formControlName="confirm_password">
                    <mat-error *ngIf="!passwordMatch">Password not matching</mat-error>
                </mat-form-field>
            </div>
        </div>

        <button mat-flat-button color="primary" class="login-btn" type="submit">Register</button>
    </form>
</section>