<table class="table table-striped">
    <tbody>
        <tr>
            <th width="200px">
                <mat-icon>star_rate</mat-icon> Star Value</th>
            <td>3 Star Resort</td>
        </tr>
        <tr>
            <th width="200px">
                <mat-icon>location_on</mat-icon>Location</th>
            <td>Kanjirapilly, Kannur, Kerala</td>
        </tr>
        <tr>
            <th width="200px">
                <mat-icon>near_me</mat-icon>Near by</th>
            <td>
                <li>15 KM away from Kannur International Airport</li>
                <li>10 KM away from Kannur Railway Station</li>
            </td>
        </tr>
        <tr>
            <th width="200px">
                <mat-icon>call</mat-icon>Phone</th>
            <td><a href="tel:+18475555555">+91 974787896</a></td>
        </tr>
        <tr>
            <th width="200px">
                <mat-icon>home</mat-icon>Address</th>
            <td>Kanjirakkolly, Payyavoor PO, Kannur</td>
        </tr>
        <tr>
            <th width="200px">
                <mat-icon>update</mat-icon>Working</th>
            <td>Mon - Sat | 08:00 am to 11:00 pm</td>
        </tr>
        <tr>
            <th width="200px">
                <mat-icon>dns</mat-icon>Our Specialities</th>
            <td>Resort, Swimming Pool, Trekking, Camping</td>
        </tr>
        <tr>
            <th width="200px">
                <mat-icon>group</mat-icon>Social</th>
            <td>
                <li>
                    <mat-icon>facebook</mat-icon>
                    <a href="fb.com">Facebook</a>
                </li>
                <li>
                    <mat-icon>facebook</mat-icon>
                    <a href="fb.com">Twitter</a>
                </li>
            </td>
        </tr>
        <tr>
            <th width="200px">
                <mat-icon>touch_app</mat-icon>Contact</th>
            <td>
                <li>
                    <mat-icon>language</mat-icon>
                    <a href="www.google.com">www.google.com</a>
                </li>
                <li>
                    <mat-icon>email</mat-icon>
                    <a href="mailto:name@email.com">abcresort@gmail.com</a>
                </li>
            </td>
        </tr>
    </tbody>
</table>