<table class="table table-striped" *ngIf="data">
    <tbody>
        <tr *ngIf="data.vendor_star_level">
            <th width="200px">
                <mat-icon>star_rate</mat-icon> Star Value</th>
            <td>{{data.vendor_star_level}} Star Resort</td>
        </tr>
        <tr *ngIf="data.city_info">
            <th width="200px">
                <mat-icon>location_on</mat-icon>Location</th>
            <td>
                <span>{{data.city_info.city_name}}</span>, 
                <span>{{data.city_info.states_info.state_name}}</span>, 
                <span>{{data.city_info.states_info.country_info.country_name}}</span>
            </td>
        </tr>
        <tr *ngIf="data.near_airport || data.near_railway">
            <th width="200px">
                <mat-icon>near_me</mat-icon>Near by</th>
            <td>
                <li>{{data.near_airport}}</li>
                <li>{{data.near_railway}}</li>
            </td>
        </tr>
        <tr *ngIf="data.vendor_phone">
            <th width="200px">
                <mat-icon>call</mat-icon>Phone</th>
            <td><a [href]="'tel:' + data.vendor_phone">{{data.vendor_phone}}</a></td>
        </tr>
        <tr *ngIf="data.vendor_address_one || data.vendor_address_two">
            <th width="200px">
                <mat-icon>home</mat-icon>Address</th>
            <td>{{data.vendor_address_one}}, {{data.vendor_address_two}}</td>
        </tr>
        <tr *ngIf="data.vendor_working_days || data.vendor_working_hours">
            <th width="200px">
                <mat-icon>update</mat-icon>Working</th>
            <td>{{data.vendor_working_days}} | {{data.vendor_working_hours}}</td>
        </tr>
        <tr *ngIf="data.vendor_keywords">
            <th width="200px">
                <mat-icon>dns</mat-icon>Our Specialities</th>
            <td>{{data.vendor_keywords}}</td>
        </tr>
        <tr *ngIf="data.facebook || data.twitter || data.linkedin || data.instagram">
            <th width="200px">
                <mat-icon>group</mat-icon>Social</th>
            <td>
                <li *ngIf="data.facebook">
                    <mat-icon>facebook</mat-icon>
                    <a [href]="data.facebook">Facebook</a>
                </li>
                <li *ngIf="data.twitter">
                    <i class="fa fa-twitter" aria-hidden="true" style="margin-right: 6px;"></i>
                    <a [href]="data.twitter">Twitter</a>
                </li>
                <li *ngIf="data.linkedin">
                    <i class="fa fa-linkedin" aria-hidden="true" style="margin-right: 6px;"></i>
                    <a [href]="data.linkedin">LinkedIn</a>
                </li>
                <li *ngIf="data.instagram">
                    <!-- <mat-icon>instagram</mat-icon> -->
                    <i class="fa fa-instagram" aria-hidden="true" style="margin-right: 6px;"></i>
                    <a [href]="data.instagram">Instagram</a>
                </li>
            </td>
        </tr>
        <tr *ngIf="data.vendor_email || data.vendor_website">
            <th width="200px">
                <mat-icon>touch_app</mat-icon>Contact</th>
            <td>
                <li *ngIf="data.vendor_website">
                    <mat-icon>language</mat-icon>
                    <a [href]="data.vendor_website">{{data.vendor_website}}</a>
                </li>
                <li *ngIf="data.vendor_email">
                    <mat-icon>email</mat-icon>
                    <a [href]="'mailto:' + data.vendor_email">{{data.vendor_email}}</a>
                </li>
            </td>
        </tr>
    </tbody>
</table>