<app-header></app-header>

<div style="background-color:#fafafa">
    <div class="w-80">
        <div class="selected-filters py-3">
            <mat-chip-list>
                <mat-chip>Beaches
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip>Caves
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

                <button mat-button color="warn">Clear All</button>
            </mat-chip-list>
        </div>

        <div class="main mt-2">
            <div class="aside">
                <app-aside></app-aside>
            </div>
            <div class="results pl-xl-4">
                <app-results></app-results>
            </div>
        </div>
    </div>
</div>