<div class="row mx-0" *ngIf="data">
    <div class="col-6 p-2">
        <div class="datepicker p-3" (click)="picker1.open()">
            <label><span class="material-icons">event</span> Check-in: {{data.checkin_time}}</label>
            <input [matDatepicker]="picker1" placeholder="--/--/----">
            <mat-datepicker #picker1></mat-datepicker>
        </div>
    </div>
    <div class="col-6 p-2">
        <div class="datepicker p-3" (click)="picker2.open()">
            <label><span class="material-icons">event</span> Check-out: {{data.checkout_time}}</label>
            <input [matDatepicker]="picker2" placeholder="--/--/----">
            <mat-datepicker #picker2></mat-datepicker>
        </div>
    </div>
    <div class="col-12 col-md-8 col-lg-12 col-xl-8 p-2">
        <div class="guest p-3" (click)="openDialog()">
            <label><span class="material-icons">face</span> Guests</label>
            <div class="count-res">
                <span class="count">1 </span> Room, <span class="count">2 </span> Adults, <span class="count">1 </span> Children
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-12 col-xl-4 p-2">
        <button mat-flat-button class="change"
        style="background: #0274b9;"
        color="primary">Change Search</button>
    </div>
</div>