<section>
    <div class="head mb-1">
        <h4 class="py-2">Places to Visit</h4>
    </div>

    <div class="filter-box mb-1">
        <a>Categories</a>
        <div class="contents">
            <div class="res-main">
                <label class="customcheck">Beaches <span class="count">(450)</span>
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
            </div>
            <div class="res-main">
                <label class="customcheck">Forts <span class="count">(450)</span>
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
            </div>
        </div>
    </div>
</section>