<app-header></app-header>
<app-search></app-search>

<section>
    <div class="w-80">
        <div class="selected-filters py-3">
            <app-selectedfilter></app-selectedfilter>
        </div>

        <div class="main mt-2">
            <div class="aside">
                <app-aside></app-aside>
            </div>
            <div class="results pl-xl-4" *ngIf="vendors">
                <h6 class="mt-2 mb-3">Total <strong>{{vendors.count}}</strong> results</h6>
                <div class="w-100 mb-3" *ngFor="let v of vendors.rows; let i = index">
                    <app-results [data]="v" link="/details"></app-results>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>