<app-header></app-header>
<app-search></app-search>

<section>
    <div class="w-80">
        <div class="selected-filters py-3">
            <app-selectedfilter></app-selectedfilter>
        </div>

        <div class="main mt-2">
            <div class="aside">
                <app-aside></app-aside>
            </div>
            <div class="results pl-xl-4">
                <div class="w-100 mb-3">
                    <app-results ids="id1"></app-results>
                </div>
                <div class="w-100 mb-3">
                    <app-results ids="id2"></app-results>
                </div>
                <div class="w-100 mb-3">
                    <app-results ids="id3"></app-results>
                </div>
                <div class="w-100 mb-3">
                    <app-results ids="id4"></app-results>
                </div>
                <div class="w-100 mb-3">
                    <app-results ids="id5"></app-results>
                </div>
                <div class="w-100 mb-3">
                    <app-results ids="id6"></app-results>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>