<div class="box">
    <div class="row mx-0">
        <div class="col-8 px-0">
            <img class="typeimg" src="assets/images/resort.jpg" alt="">
            <div class="d-flex position-relative">
                <div class="w-icon">
                    <div class="filterfont">{{logo}}</div>
                </div>
                <div class="w-name">
                    <div class="name">Adventure Activities</div>
                </div>
            </div>
        </div>
        <div class="col-4 px-0 back" style.background="{{color}}">
            <div class="count">
                208 <span>Results</span>
            </div>

            <div class="price">
                Price Starts from <br><span class="icn">₹</span><br><span class="value">2000/-</span>
            </div>

            <div class="icon">
                <div class="filterfont">{{icon}}</div>
            </div>
        </div>
    </div>
</div>