<mat-chip-list>
    <mat-chip>Free Wifi
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip>Air Conditioned
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip>Wildlife Safari
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip>Spa
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip>₹ 10,000 - 20,000
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip>Free Wifi
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip>Air Conditioned
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip>Wildlife Safari
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip>Spa
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip>₹ 10,000 - 20,000
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

    <button mat-button color="warn">Clear All</button>
</mat-chip-list>