<section class="write">
    <h4>Write Review</h4>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Review Tagline</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <div class="detail mt-2">
        <div class="row mx-0">
            <div class="col-6 px-0 d-flex align-items-center">
                <h6>Features</h6>
            </div>
            <div class="col-6 px-0 d-flex justify-content-end">
                <app-ratingcounter value=1></app-ratingcounter>
            </div>
        </div>
        <div class="row mx-0 mt-2">
            <div class="col-6 px-0 d-flex align-items-center">
                <h6>Service Quality</h6>
            </div>
            <div class="col-6 px-0 d-flex justify-content-end">
                <app-ratingcounter value=1></app-ratingcounter>
            </div>
        </div>
        <div class="row mx-0 mt-2">
            <div class="col-6 px-0 d-flex align-items-center">
                <h6>Value For Money</h6>
            </div>
            <div class="col-6 px-0 d-flex justify-content-end">
                <app-ratingcounter value=5></app-ratingcounter>
            </div>
        </div>
        <div class="row mx-0 mt-2">
            <div class="col-6 px-0 d-flex align-items-center">
                <h6>Location</h6>
            </div>
            <div class="col-6 px-0 d-flex justify-content-end">
                <app-ratingcounter value=4></app-ratingcounter>
            </div>
        </div>
    </div>

    <button mat-flat-button color="primary" class="w-100 mt-4">Submit</button>
</section>